body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.lines {
    position: absolute;
    height: 97%;
    width: 86%;
    right: 7%;
    left: 7%;
    top: 2%;
    bottom: 0;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    border-top: 2px solid grey;
    box-shadow:  0px 0 420px grey;
    outline: 5px solid white;
}

#maincont {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    margin-bottom: 0px;
}

p {
    font-family: 'Orbitron', sans-serif;
}


#conttwo {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -340px;
    margin-left: -550px;
    width: 1100px;
    height: 600px;
    background-image: radial-gradient(
        200% 800px at center,
        whitesmoke,
        grey
    );
    display: flex;
    align-items: center;
    box-shadow: 0px 0 420px grey;


}

.imagecenter {
    position: relative;
    width: 1000px;
    height: 600px;
}

#imggallery {
    width: 1000px;
    height: 600px;
    object-fit: contain;
    box-shadow: 0px 0px 3px;
}

.gray-container {
    position: absolute;
    background: grey;
    opacity: 0.6;
    height: 35%;
    text-align: center;
    left: 0px;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;  
   
}

#photo-title {
    position: absolute;
    width: 100%;
    bottom: 55%;
    text-align: center;
    left: 0;
    
}

#photo-description {
    position: absolute;
    width: 100%;
    bottom: 20%;
    text-align: center;
    left: 0;
    font-size: 20px;
}

button {
    width: 50px;
    height: 100%;
    box-shadow: 0px 0px 3px;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
}

button:hover {
    box-shadow: 0px 0px 10px;
}

#buttonleft {
    background-image: url(arrow.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

#buttonright {
    background-image: url(arrow.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    transform: scaleX(-1);
}

#thumbnail {
    position: fixed;
    width: 1200px;
    height: 160px;
    display: flex;
    justify-content: space-evenly;
    top: 50%;
    left: 50%;
    margin-top: 290px;
    margin-left: -600px;
    align-items: center;
    /*border: 1px solid black;*/
    overflow: scroll;
}

.box {
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 10px;
    border: 1px solid black;
    margin-top: 0px;
    position: relative;
    transition: all .2s linear;
    
}

.box:hover {
    cursor: pointer;
}


.highlight {
    transition: bottom .2s ease-in-out;
    transform: scale(1.3);
    box-shadow: 0px 10px 10px black;
    
}


.help {
    position: absolute;
    background-image: radial-gradient(
        100% 100px at center,
        whitesmoke,
        grey
    );
    border-radius: 50%;
    width: 50px;
    height: 50px;
    bottom: 10%;
    right: 10%;
    transition: all .2s linear;
    box-shadow: 0px 0px 10px;
}

.questionmark {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
}

.helptext {
    display: none;
    position: relative;
    background: grey;
    color: white;
    border-radius: 5px;
    padding: 5px;
    top: -250px;
    right: 50px;
    width: 200px;
    text-align: justify;
    vertical-align: middle;
  }
  
  .help:hover .helptext {
    display: block;
  }

  .help:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px;
  }


#tail
{
position: absolute;
background: grey;
font-weight: bold;
opacity: 0.7;
}
