body {
  line-height: 1.6;
  color: #393939;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 10;
  text-align: justify;
}

/* Header */

header  {
  background: #393939;
  display: flex;
  justify-content: center;
  margin: 0px;
  margin-bottom:50px;
}

a {
  padding: 20px;
  color: white;
  text-decoration: none;
  font-size: 44px;
 }

/* First flex section */

.introduction {
  display: flex;
  margin: 0px;
  width: 90%;
  justify-content: space-around;
  border-bottom: 5px solid;
}

.header2 {
  margin: -50px 0px 0px;
  position: relative;
  width: 70%;
  /*border: 5px solid;*/
  background: no-repeat url("http://stayathome-syllabus.greenfox.academy/week01/assets/first-website-header.png");
  background-size: cover;
  background-position: -500px 0px; 
  text-align: center;
  font-family: 'Abril Fatface', cursive;
}

.scrollup{
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #393939;
  width: 30px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  border-radius: 50px;
  font-weight: bold;
  
}

h1 {
  line-height: 1.15;
  position: absolute;
  bottom: 0px;
  left: 60px;
  text-align: justify;
  font-weight:550;
}

.myname {
  font-size: 56px
}

.introtext {
  margin-left: 80px;
  margin-bottom: 100px;
  width: 50%;
}

/* Second flex section */

.notable {
  margin: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.achievements {
  border-top: 3px solid black;
  margin-left: 20px;
  margin-bottom: 40px;
  margin-right: 100px;
  width: 65%;
}

/* Third flex section */

.experiences {
  margin: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.infoexp {
  border-top: 3px solid black;
  margin-left: 20px;
  margin-bottom: 40px;
  margin-right: 100px;
  width: 65%;
}

/* Fourth flex section */

.trainings {
  margin: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.infotrain {
  border-top: 3px solid black;
  margin-left: 20px;
  margin-bottom: 40px;
  margin-right: 100px;
  width: 65%;
}

blockquote{
  font-family: 'Abril Fatface', cursive;
  background: #393939;
  color: white;
  width: 300px;
  margin: 0px;
  
}

blockquote::before {
  display: inline-block;
  line-height: 1;
  font-size: 110px;
  padding: 0px;
  padding: 0px 0px -40px;
  content: '\201C';
}

.quote {
  margin: -60px 80px 60px;
  font-family: 'Abril Fatface', cursive;
  font-size: 36px;
  display: inline-block;
  text-align: left;
}

.subtitle {
  font-family: 'Merriweather', serif;
  color: black;
  font-weight: bold;
  fontsize: 8px;
  margin-top: -8px;
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
    
}

h3 {
  margin: 50px 0px 0px;
  font-size: 23px;
  font-weight: bold;
}

section {
  margin: 50px 300px 0px;
}
.interests {
  border-top: 3px solid black;
  width: 65%;
}