.headercontainer {
  background: purple;
  height: 70px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 10px;
  width: 100%;
  padding: 0px 100px 0px;
}

.headeritem {
  background: cyan;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
 }

.link1 {
  width: 80px;
}

.link2 {
  width: 120px;
}

.maincontainer {
  height: 1000px;
  margin: 95px 100px 15px;
  display: flex;
}

.main1 {
  background: lime;
  flex-grow: 1;
}

.main2 {
  background: yellow;
  flex-grow: 3;
}

footer {
  background: lightgrey;
  height: 80px;
  margin: 0px 100px 0px;
}