.container {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid #1B9DD5;
    padding: 30px;
    margin: 10px;
}

.box {
    width: 80px;
    height: 80px;
}

.bluebox {
    background: #1B9DD5;
}

.purplebox {
    background: purple;
}

.ct2 {
    background: #D65438;
}