header {
  background: aqua;
  width: 100%;
  height: 200px;
}

.balloon{
  width: 75px;
  height: 75px;
}

h1 {
  text-align: center;
  border: 0px;
  padding: 50px;
  margin: 0px 150px 0px;
  font-family: 'Satisfy', cursive;
  font-size: 55px;
  color: #18335C;
}

main {
  display: flex;
  flex-direction: row;
  height: 1000px;
}

.leftsidebar {
  background: orange;
  width: 350px;
  margin: 0px 15px 0px 0px;
}

p {
  margin: 15px;
  text-align: justify; 
}

.submit {
  margin: 15px 0px 0px 0px;
  background: #18335C;
  color: white;
  width: 60px;
  height: 25px;
  font-size: 16px;
  font-family:'Satisfy', cursive;
 }

.submit:hover {
  cursor: pointer;
}

.middle {
  background: red;
  flex-grow: 3;
  margin: 0px 15px 0px 15px;
  display: flex;
  justify-content: space-around;
}

.frog {
  width: 150px;
  height: 150px;
  margin: 45px 5px;
}

.frog:hover {
  border: 5px solid aqua;
  margin: 40px 0px;
  cursor: pointer;
}

.help {
  background: black;
  height: 65px;
  width: 65px;
  color: white;
  font-size: 40px;
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.help:hover {
  cursor: pointer;
}
.rightsidebar {
  background: purple;
  flex-grow: 2;
  margin: 0px 0px 0px 15px;
}

footer {
  background: blue;
  height: 200px;
  color: white;
}

.footer {
  border: 0px;
  padding: 25px 25px;
  text-align: center;
}

